.monthly{
  overflow-y: scroll;
}
.btn-filter {
  margin-top: 10px;
}

.btn-filter button {
  width: 100px;
  background-color: #EFE1D1;

}
.btn-filter button:hover {
    box-shadow: 0px 5px 5px;
  
  }

.btn-filter button:hover {
  background-color: #183D3D;
  color: white;
  transition: ease-in;
  transition-timing-function: ease-in;
}

.NoReport{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 100px;
}

@media screen and (max-width:600px) {
  .monthly{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 400px;
    
  }}